VITE_API_BASE_URL=http://localhost:8000/api/v1
VITE_APP_NAME="BSU Villa Harmonis"
VITE_APP_SHORT_NAME="BSU"
VITE_RECEIPT_FOOTER="Terima kasih telah menjaga lingkungan bersama Bank Sampah Villa Harmonis."
